@media screen and (min-width: 1770px) {
  .menu__icon {
    display: none;
  }

  .menu__nav {
    height: auto;
  }

  .nav__footer {
    display: none;
  }

  .files .pdf {
    width: 40px;
    fill: rgb(234, 10, 42);
  }

  .file {
    margin-top: 15px;
  }

  .zip {
    width: 50px;
    fill: #041a72;
  }

  /* digital-department2024 */
  .project-message {
    text-transform: uppercase;
    bottom: 100px;
    font-size: 24px;
  }

  .logo-pgups {
    width: 40px;
  }

  .logo-pgups img {
    width: 100%;
  }

  .back-to-top {
    position: fixed;
    bottom: -100px;
    right: 10px;
    cursor: pointer;
    transition: 0.01s;
  }

  .back-to-top.active {
    width: 80px;
    height: 80px;
    bottom: 40px;
    opacity: 1;
    transition: 0.01s;
  }
}
