@media screen and (min-width: 376px) and (max-width: 476px) {
  .partner__card {
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    transition: 0.3s;
  }

  .partner__card:hover {
    background-color: rgb(163, 163, 163);
    padding: 20px 40px;
    border-radius: 20px;
    transition: 0.5s;
  }

  .partner-img {
    display: flex;
    max-width: 100%;
    align-items: center;
    height: 90px;
    object-fit: contain;
  }
}

@media screen and (min-width: 476px) and (max-width: 576px) {
  .partner__card {
    background-color: white;
    padding: 30px 80px;
    border-radius: 20px;
    transition: 0.3s;
  }

  .partner__card:hover {
    background-color: rgb(163, 163, 163);
    padding: 30px 80px;
    border-radius: 20px;
    transition: 0.5s;
  }

  .partner-img {
    display: flex;
    max-width: 100%;
    align-items: center;
    height: 160px;
    object-fit: contain;
  }
}

@media screen and (min-width: 376px) and (max-width: 576px) {
  .personalities {
    padding: 40px 0 30px 0px;
  }

  .action {
    margin-top: 30px;
    text-align: center;
  }

  .news__title {
    font-size: 30px;
  }

  .news {
    padding: 40px 0 70px 0;
    background: #efefef;
  }

  .partners__slider {
    margin-top: 60px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border: 0px;
  }

  .partner-img {
    display: flex;
    max-width: 100%;
    align-items: center;
    height: 90px;
    object-fit: contain;
  }

  .card {
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    perspective: 1000px;
  }

  .politics__title {
    font-size: 30px;
  }

  .politics__link {
    color: black;
    font-size: 17px;
    font-weight: 700;
    margin-top: 0px;
  }

  .project-text {
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: rgb(27, 36, 49) 1px 0 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .section__text {
    font-size: 22px;
    margin: 0 10px 30px 10px;
    text-align: center;
    line-height: 1.3;
  }

  .section__text br {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 5;
  }

  section .container {
    padding: 30px 30px 0px 30px;
  }

  .container {
    max-width: 100%;
  }

  .menu__icon {
    z-index: 2;
    display: block;
    position: relative;
    width: 20px;
    height: auto;
    cursor: pointer;
    margin-right: 40px;
    fill: rgb(234, 10, 42);
  }

  .menu__img {
    width: 27px;
    height: 100%;
    padding-right: 10px;
    fill: rgb(0, 27, 113);
  }

  .menu__logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu__logo-img {
    display: block;
    height: 100%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease 0s;
    overflow-x: hidden;
    box-shadow: 0px 3px 0px 0px rgb(0, 27, 113);
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }

  .menu__nav {
    height: auto;
  }

  .menu-items {
    margin: 100px 30px 30px 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .menu._active {
    transform: translateX(0);
  }

  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
  }

  .menu-items li {
    margin: 0px 0px 10px 0px;
    list-style: none;
  }

  .menu-link {
    font-size: 24px;
    color: rgb(0, 27, 113);
    font-weight: 700;
  }

  .menu-items li:hover .menu-link {
    color: rgba(234, 10, 42, 0.8);
  }

  .logos {
    display: flex;
    gap: 15px;
    align-items: center;
    z-index: 5;
    padding-left: 37px;
  }

  .logo-priority {
    width: 160px;
    height: auto;
  }

  .logo-priority img {
    width: 100%;
  }

  .logo-pgups {
    width: 30px;
  }

  .logo-pgups img {
    width: 100%;
  }

  .nav__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .nav__texts {
    padding: 45px 20px 20px 20px;
    background: rgb(0, 27, 113);
  }

  .nav__right {
    color: #fff;
    padding-bottom: 20px;
    width: 100%;
  }

  .nav__socials svg {
    width: 30px;
  }

  .nav__socials svg path {
    fill: #fff;
  }

  .files .pdf {
    width: 105px;
    fill: rgb(234, 10, 42);
  }

  .file {
    margin-top: 15px;
  }

  .zip {
    width: 140px;
    fill: #041a72;
  }

  .priority-img {
    width: 70px;
    height: auto;
    padding: 10px 10px 0px 10px;
    animation: animate_grow 2s infinite;
    display: none;
  }

  .program {
    padding: 20px 0px 0px 0px;
  }

  .program__title {
    font-family: "Russo One";
    color: rgb(112, 112, 112);
    font-size: 30px;
    margin: 0px auto 10px auto;
    padding: 20px 20px;
  }

  .programs-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-left: 30px;
    margin-right: 50px;
  }

  .program-list {
    margin: 10px auto 10px auto;
    padding: 20px 10px 40px 10px;
    width: auto;
  }

  .icon-strategy {
    padding: 20px 0px;
    animation: animate_grow 2s infinite;
  }

  .icon-strategy img {
    transform: scale(0.6);
  }

  .program-descript__title {
    font-size: 20px;
    padding: 0px 20px 10px 20px;
    margin-top: 10px;
  }

  .program__title-list {
    font-size: 20px;
    margin: 10px 0px 0px 10px;
  }

  .program-descript__text {
    font-size: 18px;
    margin: 20px 0px 0px 10px;
  }

  .program__text {
    font-size: 24px;
    margin: 0 auto 50px auto;
    margin: 0px;
    line-height: 1.3;
  }

  .program-documents a img {
    width: auto;
    height: 42px;
  }

  .program-documents a {
    font-size: 18px;
  }

  .department__text {
    font-size: 24px;
    margin: 0 auto 50px auto;
    max-width: 850px;
    text-align: center;
    line-height: 1.3;
  }

  .politics {
    padding: 40px 0 30px 0;
    background-color: #efefef;
  }

  .politics__text {
    font-size: 24px;
    margin: 0 auto 50px auto;
    max-width: 550px;
    text-align: center;
    line-height: 1.3;
  }

  .politics-items {
    list-style: none;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 30px;
  }

  .projects {
    padding: 40px 0px 70px 0px;
  }

  .person-name {
    font-size: 19px;
  }

  .person-decrtipt {
    font-size: 16px;
  }

  .description {
    padding: 1vw;
  }

  .wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .projects-cards {
    margin-top: 50px;
  }

  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 20px;
  }

  .front {
    object-fit: cover;
    background-color: #030303;
  }

  .back {
    background: rgb(0, 27, 113);
    transform: rotateY(180deg);
  }

  .project-img {
    position: relative;
    max-width: 100%;
    border-radius: 20px;
  }

  .documents__list {
    margin: 0px 10px;
  }

  .video-bg {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .for-students__title {
    font-size: 30px;
  }

  .students__title-list {
    font-weight: 500;
  }

  .bg-students {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 190vh;
    object-fit: cover;
  }

  .effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 190vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .for-students-list {
    margin: 20px auto 10px auto;
    color: #fff;
    padding: 30px 10px 40px 10px;
    width: 100%;
  }

  .line {
    flex-direction: column;
  }

  .icon-students {
    padding: 0px 0px;
    animation: animate_grow 2s infinite;
  }

  .icon-students img {
    transform: scale(0.8);
  }

  .students-list__item {
    width: 100%; /* Расширяем на всю ширину родителя */
    padding: 10px;
  }

  .for-students__items {
    flex: 0 1 calc(50% - 40px);
    width: auto;
    padding: 10px 20px;
  }

  .students-list__item {
    padding: 0px;
  }

  .students__more {
    margin: 0 20px 20px 0px;
    font-weight: 500;
  }

  .students-descript__text {
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px 50px 30px;
    text-align: left;
    line-height: 1.3;
    color: #fff;
    max-width: 100%;
    word-wrap: break-word;
    display: none;
  }

  .background-students {
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  .right-arrow {
    color: #fff;
  }

  .card:hover .front {
    transform: rotateY(180deg);
  }
  .card:hover .back {
    transform: rotateY(360deg);
  }

  .back-to-top {
    border-radius: 50%;
    position: fixed;
    bottom: -75px;
    right: 50px;
    cursor: pointer;
    transition: 0.3s all;
  }

  .back-to-top.active {
    width: 40px;
    height: 40px;
    bottom: 30px;
    opacity: 1;
    transition: 0.3s ease all;
  }
}
