.header-politics, .header_project, .header_department {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, .13) 0 4px 16px;
    background: white;
}

.logo {
    position: absolute;
    left: 30px;
    top: calc(50% - 12.5px);
}

.logo img {
    width: 25px;
}

img {
    border-radius: 10px;
    width: 190px;
}

.header__text {
    font-weight: 700;
    font-size: 16px;
}

.content {
    padding: 60px 0;
}

.container {
    max-width: 980px;
}

.content-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.strategy {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.strategy-main, .management-main {
    display: flex;
}

.purpose {
    color: rgb(234, 10, 42);
}

.strategy-text {
    padding: 10px 10px 10px 0px;
}

.text {
    text-align: justify;
    padding-top: 10px;
}

.strategy-img {
    padding: 0px 5px 5px 10px;
}

.priority-img {
    width: 230px;
    height: auto;
}

/* Задачи */

.tasks {
    background-color: #d1d1d1;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.tasks-title {
    padding: 10px 10px 10px 0px;
}

.tab {
    overflow: hidden;
}

.tab button {
    color: #fff;
    background-color: rgb(138, 138, 138);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 20px;
    margin: 10px 5px 10px 0px;
}

.tab button:hover {
    color: #fff;
    background-color: rgb(234, 10, 42);
}

.tab button.active {
    color: #fff;
    background-color: rgb(234, 10, 42);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.management-content {
    padding: 10px 15px 10px 0px;
}

h3 {
    padding: 10px 0px 10px 0px;
}

ul {
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 0px 10px 25px;
}

.management-img {
    padding: 10px 5px 5px 10px;
}

.tab-img {
    width: 300px;
    height: auto;
}