.header-politics, .header_project, .header_department {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, .13) 0 4px 16px;
    background: white;
}

.logo {
    position: absolute;
    left: 30px;
    top: calc(50% - 12.5px);
}

.logo img {
    width: 25px;
}

img {
    border-radius: 10px;
    width: 190px;
}

.header__text {
    font-weight: 700;
    font-size: 16px;
}

.content {
    padding: 60px 0;
}

.container {
    max-width: 950px;
}

.content-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.strategy-main {
    display: flex;
}

.strategy-text {
    padding: 10px 10px 10px 0px;
}

.text {
    text-align: justify;
    padding-top: 10px;
}

.strategy-img {
    padding: 0px 5px 5px 10px;
}

.priority-img {
    width: 230px;
    height: auto;
}

.tasks-filter {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.items {
    margin: 0 auto;
    padding-right: 30px;
    padding: 40px;
}