

.person-link {
    font-size: 0;
}

.description-policy {
    padding: 40px 0;
    background: rgb(235, 235, 235);
}

.description-text {
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
}

.quote-block {
    box-sizing: border-box;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 20px;
    box-shadow: 4px 6px 10.7px 0 rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin: 30px 0;
    display: flex;
    gap: 25px;
}

.quote-span {
    color: rgb(103, 103, 103);
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
}

.quote {
    display: flex;
    gap: 3px;
    position: relative;
}

.quote-img {
    font-size: 0;
}

.quote-img img {
    width: 60px;
}

.quote-close {
    position: absolute;
    bottom: -32px;
    right: 55px;
}

.quote-message {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    margin-top: 23px;
}

.quote-image img {
    width: 235px;
}

.description-text-right {
    text-align: right;
}

.purpose {
    padding: 50px 0;
}

.purpose-card {
    padding: 40px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 18px;
    position: relative;
}

.purpose-title {
    color: rgb(0, 0, 0);
    font-size: 27px;
    font-weight: 800;
    line-height: 50px;
    position: absolute;
    left: -2px;
    top: -30px;
    padding-right: 15px;
    background: #f4f4f6;
}

.purpose-image img {
    width: 110px;
}

.purpose-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.purpose-text {
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 24px;
}

.tasks-policy {
    padding: 15px 0;
}

.policy__title {
    text-align: center;
    margin-bottom: 40px;
}

.tasks-policy-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
}

.task-large {
    grid-column: 1 / 3;
}

.task-large .task-bg__img {
    width: 100%;
}

.quote-section {
    background: url("../images/politics/human-management-policy/bg-putin.png") bottom left;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 70px 0 60px 0;
    box-shadow: 0 -4px 5px 0 #00000040;
}

.quote-section .container {
    display: flex;
    gap: 25px;
}

.quote-section .quote-span {
    margin-bottom: 50px;
}

.other-title {
    margin-bottom: 30px;
}

.score-table {
    padding: 40px 0;
    background: rgb(217, 217, 217);
}

.score-table table {
    border-spacing: 15px;
}

.score-table th {
    font-size: 18px;
}

.score-table td {
    border-radius: 20px;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
    background: rgb(245, 245, 245);
    padding: 20px 10px;
    transition: all .3s;
    min-height: 107px;
}

.score-table td:hover {
    transform: scale(1.05);
}

.score-table td:first-child {
    padding: 20px 20px 20px 90px;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.score-table td:not(:first-child) {
    text-align: center;
    color: #FF0000;
    font-weight: bold;
    font-size: 40px;
    padding: 5px 20px;
}

.table-number {
    color: #D9D9D9;
    font-size: 187px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: calc(50% - 126px);
}

.first {
    font-size: 189px;
}

.second {
    top: calc(50% - 124px);
}

.four {
    top: calc(50% - 125px);
    font-size: 189px;
}

.table-text {
    position: relative;
    z-index: 1;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.result {
    padding: 40px 0;
    background: #D9D9D9;
}

.human__event-bg {
    max-width: 800px;
}