.header-politics, .header_project, .header_department {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, .13) 0 4px 16px;
    background: white;
}

.logo {
    position: absolute;
    left: 30px;
    top: calc(50% - 12.5px);
}

.logo img {
    width: 25px;
}

img {
    border-radius: 10px;
    width: 190px;
}

.header__text {
    font-weight: 700;
    font-size: 16px;
}

.content {
    padding: 60px 0;
}

.container {
    max-width: 800px;
}

.content-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.content-text {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
}

table {
    margin: 20px 0;
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

table tr,
table td,
table th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table td {
    vertical-align: top;
}

table h3 {
    text-align: center;
    margin-bottom: 10px;
}

table {
    margin: 20px 0;
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

table tr,
table td,
table th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table td {
    vertical-align: top;
}

table h3 {
    text-align: center;
    margin-bottom: 10px;
}
.contact {
    display: flex;
    padding: 20px 0;
    gap: 30px;
}

.purpose-project {
    padding-top: 30px;
    color: rgb(0, 27, 113);
}

.role-project {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 27, 113);
}

h3 {
    padding-top: 20px;
    font-size: 20px;
    color: rgb(234, 10, 42);
}

h4 {
    padding-top: 20px;
    font-size: 20px;
}

.images {
    display: flex;
    object-fit: cover;
    gap: 20px;
    padding: 30px 0;
}

.images_project1 {
    width: 380px;
    height: auto;
}